/*  Base
   ========================================================================== */

html,
body {
    height: 100%;
}

body {
    background: @color-body-background;
    color: @color-body-text;
    font: 400 16px/1.5em @font-source-sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
    min-height: 100%;
    display: flex;
    flex-flow: column;
    position: relative;
    background: url(../img/bg-header.jpg) fixed no-repeat;

    /* 320px */
    @media only screen and (max-width: 20em) {

    }

    /* 480px */
    @media only screen and (min-width: 30em) {

    }

    /* 640px */
    @media only screen and (min-width: 40em) {

    }

    /* 768px */
    @media only screen and (min-width: 48em) {

    }

    /* 1024px */
    @media only screen and (min-width: 64em) {

    }

    /* 1280px */
    @media only screen and (min-width: 80em) {

    }
}

.selection() {
    background: @color-body-text;
    color: #fff;
}

::-moz-selection {
    .selection;
}

::selection {
    .selection;
}



/*  Header
   ========================================================================== */

.main-header {
    padding: 70/@em 25/@em;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: auto;
    position: relative;
    background: url(../img/bg-overlay.png);
    color: rgba(255, 255, 255, .5);
    text-align: center;
}

.person-image {
    width: 130/@em;
    margin: 0 0 15/@em;
    font-size: 1em;

    a {
        padding: 10/@em;
        display: inline-block;
    }

    img {
        border-radius: 50%;
        border: 1px solid transparent;
        transition: .2s @material-timing;
        transition-property: box-shadow, border-color;

        &:hover {
            box-shadow: 0 0 15/@em rgba(0, 0, 0, .25);
            border-color: rgba(0, 0, 0, .2);
        }
    }
}

.person-description {
    @base-font-size: 20;

    margin: 0;
    .em-font-size(@base-font-size, 16);
    line-height: 1.7em;

    strong {
        color: #fff;
        font-weight: 400;
    }
}



/*  Main Content
   ========================================================================== */

.main-content {
    padding: 25/@em;
    flex: 1;
    position: relative;
    background-color: #fff;
}



/*  Footer
   ========================================================================== */

.main-footer {
    padding: 35/@em 25/@em;
    position: relative;
}

.social-networks {
    padding: 0 20/@em;
    display: flex;
    justify-content: space-around;
    text-align: center;

    a {
        padding: 10px;
        overflow: hidden;
        position: relative;
        opacity: .4;
        transition: .2s opacity @material-timing;
        color: #fff;
        text-decoration: none;

        &:hover {
            opacity: .8;
        }

        span {
            position: absolute;
            top: 100%;
        }

        &:before {
            @base-font-size: 24;

            .em-font-size(@base-font-size, 16);
        }
    }
}

.copyright {
    @base-font-size: 13;

    .em-font-size(@base-font-size, 16);
    text-align: center;
}
