/*  Fonts
   ========================================================================== */

@font-source-sans: "Source Sans Pro", Roboto, sans-serif;
@font-fontello: "Fontello";



/*  Type Sizes
   ========================================================================== */

@base-font-size: 16;
@em: @base-font-size / 1em;



/*  Animations
   ========================================================================== */

@material-timing: cubic-bezier(.55, 0, .1, 1);



/*  Color Pressets
   ========================================================================== */

/* Structure */
@color-body-background: #fff;
@color-body-text: #787878;
